/* Sidebar.css */
.sidebar {
    background-color: #f8f9fa; /* Ganti dengan warna latar belakang yang diinginkan */
  }
  
  .sidebar-item {
    margin-bottom: 10px;
  }
  
  .sidebar-item a {
    text-decoration: none;
    color: #333; /* Ganti dengan warna teks yang diinginkan */
  }
  
  .sidebar-item a:hover {
    text-decoration: underline;
  }
  